<app-nav></app-nav>
<div class="container pt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7 col-xl-6 col-xxl-6">
            <form #regForm="ngForm" ngSubmit="onSubmit()">
                <div class="card">
                    <div class="card-header bg-warning text-white text-center">
                        <h1>REGISTER HERE</h1>
                    </div>
                    <div class="card-body">
                        <div [class]="isError? 'alert alert-danger':'d-none'" class="my-4">{{ message }}</div>
                        <div [class]="isSuccess? 'alert alert-success':'d-none'" class="my-4">{{ message }}</div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" minlength="4" [class.is-invalid]="fname.invalid && fname.touched" [class.is-valid]="fname.valid && fname.touched" required #fname="ngModel" name="fname" placeholder="full name" pattern="[a-zA-Z ]+$" [(ngModel)]=user.fname>
                            </div>
                        </div>
                        <div *ngIf="fname.touched">
                            <div class="alert alert-danger" *ngIf=" fname.invalid ">Enter a valid name</div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="phone" class="form-control" minlength="10" [class.is-invalid]="phone.invalid && phone.touched" [class.is-valid]="phone.valid && phone.touched" required #phone="ngModel" name="phone" placeholder="phone number" pattern="[0-9]+$" [(ngModel)]=user.phone>
                            </div>
                        </div>
                        <div *ngIf="phone.touched">
                            <div class="alert alert-danger" *ngIf=" phone.invalid ">Enter a valid phone number</div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" [class.is-valid]="email.valid && email.touched" required #email="ngModel"  name="email" placeholder="email id" pattern="[A-Za-z0-9._-]+@[a-z-.]+\.[a-z]{3}$" [(ngModel)]=user.email>
                            </div>
                        </div>
                        <div *ngIf="email.touched">
                            <div class="alert alert-danger" *ngIf=" email.errors || email.invalid ">Enter a valid mail id</div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="password" class="form-control" minlength="8" [class.is-invalid]="password.invalid && password.touched" [class.is-valid]="password.valid && password.touched" required #password="ngModel" pattern="[A-Za-z0-9#@_]+$"  name="password" placeholder="password" [(ngModel)]=user.password>                               
                            </div>
                        </div>
                        <div *ngIf="password.touched">
                            <div class="alert alert-danger" *ngIf=" password.invalid ">Enter a valid password</div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <input type="password" class="form-control" minlength="8" [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched" [class.is-valid]="confirmpassword.valid && confirmpassword.touched" required #confirmpassword="ngModel" name="confirmpassword" placeholder="Confirm Password" (keyup)="comparePassword($event)" ngModel>                                
                            </div>
                        </div>
                        <div *ngIf="isDisabled">
                            <div class="alert alert-danger" *ngIf="isDisabled">Passwords don't match</div>
                        </div>
                        <div class="row my-4">
                            <div class="col text-center">
                                <button class="btn btn-danger" [disabled]="regForm.form.invalid || isDisabled" (click)="onSubmit()">SIGN UP</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h5>Registered User ?<a href="login">Login here</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>